body {
  background-color: #EEE1E9;
}

#rectangle {
  width: 1025px;
  height: 293px;
  flex-shrink: 0;
  border-radius: 58px;
  background-image: radial-gradient(50% 50% at 50% 50%, #E1BED2 0%, #DCA0C2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
  margin-left: 203px;
  margin-right: 212px;

}
 
 
 .text {
    font-family: "Leckerli One", cursive;
    display: flex;
    width: 1078px;
    height: 301px;
    flex-direction: column;
    flex-shrink: 0;
    color: #602848;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

.hellokitty {
  width: 301px;
  height: 301px;
  position: absolute;
  flex-shrink: 0;
  margin-left: 102px;
  top: 230px;
  z-index: 100;
}

.miau{
  width: 702px;
height: 565px;
position: absolute;
border-radius: 58px;
margin-top: 50px;
margin-left: 369px;
align-items:center;
z-index:99;
}

.tf{
  width: 464px;
height: 294px;
position:absolute;
flex-shrink: 0;
top: 173px;
border-right: 147px;
left: 829px;
z-index: 100;
}


.virgule1{
  width: 215px;
height: 121px;
flex-shrink: 0;
position: absolute;
top: 1px;
left: -20px;
z-index: 99;
}

.virgule2{
  width: 215px;
height: 121px;
position:absolute;
top: 950px;
left: 1300px;
z-index: 99;
}

.stars2{
  position: absolute;
  top: 810px;
  left: 1px;
  z-index: 100;
}

.stars1{
  position: absolute;
  top: 10px;
  left: 1400px;
  z-index: 99;
}
